/* Standard Elements */
body {
  margin: 0 auto;
}

input {
  margin: 10px;
}

button {
  margin: 10px;
}

/* ID Elements */
#Input_Menu {
  text-align: center;
}

#Output_Pane {
  text-align: center;
}

/* Class Elements */
